In [1]:
import pandas as pd

1. Data Collection

In [3]:
# Load the dataset
df = pd.read_csv("/Users/rasheedmehrinfar/Desktop/springboard/capstone-two/Data/owid-co2-data.csv")

In [4]:
# Preview the data
df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. Data Organization

In [6]:
# Checking shape and column names
print("Shape of dataset:", df.shape)
print("Column names:")
print(df.columns.tolist())

Shape of dataset: (50191, 79)
Column names:
['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2', 'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct', 'co2_including_luc', 'co2_including_luc_growth_abs', 'co2_including_luc_growth_prct', 'co2_including_luc_per_capita', 'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy', 'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2', 'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita', 'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2', 'cumulative_co2_including_luc', 'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2', 'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita', 'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2', 'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita', 'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita', 'other_industry_co2', 'primary_energy_consumption', 'share_global_cement_co2', 'share_global_co2', 'share_global_co2_including_luc', 'share_global_coal_co2', 'share_global_cumulative_cement_co2', 'share_global_cumulative_co2', 'share_global_cumulative_co2_including_luc', 'share_global_cumulative_coal_co2', 'share_global_cumulative_flaring_co2', 'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2', 'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2', 'share_global_flaring_co2', 'share_global_gas_co2', 'share_global_luc_co2', 'share_global_oil_co2', 'share_global_other_co2', 'share_of_temperature_change_from_ghg', 'temperature_change_from_ch4', 'temperature_change_from_co2', 'temperature_change_from_ghg', 'temperature_change_from_n2o', 'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2', 'trade_co2_share']

3. Data Definition

In [8]:
# Summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50191 entries, 0 to 50190
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    50191 non-null  object
 1   year                                       50191 non-null  int64
 2   iso_code                                   42262 non-null  object
 3   population                                 41019 non-null  float64
 4   gdp                                        15251 non-null  float64
 5   cement_co2                                 28863 non-null  float64
 6   cement_co2_per_capita                      25358 non-null  float64
 7   co2                                        29137 non-null  float64
 8   co2_growth_abs                             26981 non-null  float64
 9   co2_growth_prct                            26002 non-null  float64
 10  co2_including_luc                          23585 non-null  float64
 11  co2_including_luc_growth_abs               23285 non-null  float64
 12  co2_including_luc_growth_prct              23285 non-null  float64
 13  co2_including_luc_per_capita               23495 non-null  float64
 14  co2_including_luc_per_gdp                  16790 non-null  float64
 15  co2_including_luc_per_unit_energy          9701 non-null   float64
 16  co2_per_capita                             26182 non-null  float64
 17  co2_per_gdp                                17528 non-null  float64
 18  co2_per_unit_energy                        10350 non-null  float64
 19  coal_co2                                   21755 non-null  float64
 20  coal_co2_per_capita                        21050 non-null  float64
 21  consumption_co2                            4866 non-null   float64
 22  consumption_co2_per_capita                 4502 non-null   float64
 23  consumption_co2_per_gdp                    4444 non-null   float64
 24  cumulative_cement_co2                      28841 non-null  float64
 25  cumulative_co2                             27328 non-null  float64
 26  cumulative_co2_including_luc               23585 non-null  float64
 27  cumulative_coal_co2                        21755 non-null  float64
 28  cumulative_flaring_co2                     15891 non-null  float64
 29  cumulative_gas_co2                         18014 non-null  float64
 30  cumulative_luc_co2                         37236 non-null  float64
 31  cumulative_oil_co2                         25217 non-null  float64
 32  cumulative_other_co2                       3202 non-null   float64
 33  energy_per_capita                          10109 non-null  float64
 34  energy_per_gdp                             7696 non-null   float64
 35  flaring_co2                                15952 non-null  float64
 36  flaring_co2_per_capita                     14694 non-null  float64
 37  gas_co2                                    18014 non-null  float64
 38  gas_co2_per_capita                         17292 non-null  float64
 39  ghg_excluding_lucf_per_capita              35639 non-null  float64
 40  ghg_per_capita                             35813 non-null  float64
 41  land_use_change_co2                        37236 non-null  float64
 42  land_use_change_co2_per_capita             36434 non-null  float64
 43  methane                                    37410 non-null  float64
 44  methane_per_capita                         35813 non-null  float64
 45  nitrous_oxide                              38280 non-null  float64
 46  nitrous_oxide_per_capita                   36320 non-null  float64
 47  oil_co2                                    25218 non-null  float64
 48  oil_co2_per_capita                         24436 non-null  float64
 49  other_co2_per_capita                       2474 non-null   float64
 50  other_industry_co2                         3202 non-null   float64
 51  primary_energy_consumption                 10151 non-null  float64
 52  share_global_cement_co2                    21960 non-null  float64
 53  share_global_co2                           27328 non-null  float64
 54  share_global_co2_including_luc             23585 non-null  float64
 55  share_global_coal_co2                      21755 non-null  float64
 56  share_global_cumulative_cement_co2         21960 non-null  float64
 57  share_global_cumulative_co2                27328 non-null  float64
 58  share_global_cumulative_co2_including_luc  23585 non-null  float64
 59  share_global_cumulative_coal_co2           21755 non-null  float64
 60  share_global_cumulative_flaring_co2        10869 non-null  float64
 61  share_global_cumulative_gas_co2            15034 non-null  float64
 62  share_global_cumulative_luc_co2            37236 non-null  float64
 63  share_global_cumulative_oil_co2            23592 non-null  float64
 64  share_global_cumulative_other_co2          2108 non-null   float64
 65  share_global_flaring_co2                   10869 non-null  float64
 66  share_global_gas_co2                       15034 non-null  float64
 67  share_global_luc_co2                       37236 non-null  float64
 68  share_global_oil_co2                       23592 non-null  float64
 69  share_global_other_co2                     2108 non-null   float64
 70  share_of_temperature_change_from_ghg       41001 non-null  float64
 71  temperature_change_from_ch4                38060 non-null  float64
 72  temperature_change_from_co2                41001 non-null  float64
 73  temperature_change_from_ghg                41001 non-null  float64
 74  temperature_change_from_n2o                38060 non-null  float64
 75  total_ghg                                  37410 non-null  float64
 76  total_ghg_excluding_lucf                   37236 non-null  float64
 77  trade_co2                                  4535 non-null   float64
 78  trade_co2_share                            4535 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 30.3+ MB

In [9]:
# Statistical summary
df.describe(include='all')

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
count,50191,50191.000000,42262,4.101900e+04,1.525100e+04,28863.000000,25358.000000,29137.000000,26981.000000,26002.000000,...,2108.000000,41001.000000,38060.000000,41001.000000,41001.000000,38060.000000,37410.000000,37236.000000,4535.000000,4535.000000
unique,255,NaN,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Afghanistan,NaN,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,274,NaN,274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1919.883067,NaN,5.686141e+07,3.300495e+11,7.767746,0.059036,415.698178,6.208882,43.104462,...,7.512655,2.269285,0.003026,0.007670,0.011023,0.000509,488.542225,316.133529,-7.232399,20.524440
std,NaN,65.627296,NaN,3.199905e+08,3.086383e+12,62.595292,0.120328,1945.843973,62.322553,1729.939596,...,17.671054,9.315325,0.016519,0.043694,0.061901,0.003043,2392.579910,1839.602293,250.640012,52.744956
min,NaN,1750.000000,NaN,2.150000e+02,4.998000e+07,0.000000,0.000000,0.000000,-1977.750000,-100.000000,...,0.000000,-0.810000,-0.001000,0.000000,-0.001000,0.000000,-14.961000,0.000000,-2195.952000,-98.849000
25%,NaN,1875.000000,NaN,3.273130e+05,7.874038e+09,0.000000,0.000000,0.374000,-0.005000,-1.102500,...,0.204750,0.004000,0.000000,0.000000,0.000000,0.000000,1.835000,0.235000,-3.179500,-6.168000
50%,NaN,1924.000000,NaN,2.289522e+06,2.743861e+10,0.000000,0.001000,4.990000,0.044000,3.803500,...,0.838000,0.078000,0.000000,0.000000,0.000000,0.000000,15.007500,2.371000,1.518000,8.701000
75%,NaN,1974.000000,NaN,9.862459e+06,1.212627e+11,0.486000,0.075750,53.273000,1.002000,10.890750,...,3.211000,0.359000,0.001000,0.001000,0.001000,0.000000,78.242750,29.337500,9.153500,32.666000
max,NaN,2023.000000,NaN,8.091735e+09,1.301126e+14,1696.308000,2.484000,37791.570000,1865.208000,180870.000000,...,100.000000,100.000000,0.422000,1.161000,1.668000,0.085000,53816.852000,44114.785000,1798.999000,568.635000

In [10]:
# Checking unique values per column
df.nunique().sort_values(ascending=False)

population                      40052
cumulative_luc_co2              33058
total_ghg                       26232
cumulative_co2_including_luc    23198
land_use_change_co2             22208
                                ...
country                           255
other_co2_per_capita              248
temperature_change_from_ch4       224
iso_code                          218
temperature_change_from_n2o        80
Length: 79, dtype: int64

4. Data Cleaning

In [12]:
# Checking for missing values
missing_values = df.isnull().sum()
missing_percent = (missing_values / len(df)) * 100
missing_df = pd.DataFrame({'Missing Values': missing_values, 'Percent (%)': missing_percent})
missing_df = missing_df[missing_df['Missing Values'] > 0].sort_values(by='Percent (%)', ascending=False)
print(missing_df)

                                      Missing Values  Percent (%)
share_global_cumulative_other_co2              48083    95.800044
share_global_other_co2                         48083    95.800044
other_co2_per_capita                           47717    95.070829
cumulative_other_co2                           46989    93.620370
other_industry_co2                             46989    93.620370
...                                              ...          ...
share_of_temperature_change_from_ghg            9190    18.310056
temperature_change_from_ghg                     9190    18.310056
temperature_change_from_co2                     9190    18.310056
population                                      9172    18.274193
iso_code                                        7929    15.797653

[77 rows x 2 columns]

In [13]:
# Define essential columns to never drop
essential_cols = ['country', 'year', 'co2', 'gdp']

# Clean up column names (e.g., whitespace issues)
df.columns = df.columns.str.strip()

# Drop sparse columns, excluding essential ones
sparse_cols = df.isnull().mean()
sparse_cols = sparse_cols[sparse_cols > 0.80].index.tolist()
sparse_cols = [col for col in sparse_cols if col not in essential_cols]

# Now drop
df_cleaned = df.drop(columns=sparse_cols)

In [14]:
# Remove duplicates
df_cleaned = df_cleaned.drop_duplicates()

In [15]:
# Remove non-country/listings with no valid iso-code
non_countries = [
    'World', 'Asia', 'Africa', 'Europe', 'European Union', 'North America',
    'South America', 'Oceania', 'International transport', 'High-income countries',
    'Upper-middle-income countries', 'Lower-middle-income countries', 'Low-income countries'
]

df_cleaned = df_cleaned[~df_cleaned['country'].isin(non_countries)]
df_cleaned = df_cleaned[df_cleaned['iso_code'].apply(lambda x: isinstance(x, str) and len(x) == 3)]

In [16]:
# Keep only rows from 1990 onwards
df_cleaned = df_cleaned[df_cleaned['year'] >= 1990]
print(df_cleaned.head())

         country  year iso_code  population           gdp  cement_co2  \
240  Afghanistan  1990      AFG  12045664.0  1.306598e+10       0.046
241  Afghanistan  1991      AFG  12238879.0  1.204736e+10       0.046
242  Afghanistan  1992      AFG  13278982.0  1.267754e+10       0.046
243  Afghanistan  1993      AFG  14943174.0  9.834582e+09       0.047
244  Afghanistan  1994      AFG  16250799.0  7.919857e+09       0.047

     cement_co2_per_capita    co2  co2_growth_abs  co2_growth_prct  ...  \
240                  0.004  2.024          -0.741          -26.784  ...
241                  0.004  1.914          -0.110           -5.435  ...
242                  0.003  1.482          -0.432          -22.580  ...
243                  0.003  1.487           0.005            0.330  ...
244                  0.003  1.454          -0.033           -2.227  ...

     share_global_gas_co2  share_global_luc_co2  share_global_oil_co2  \
240                 0.011                 0.003                 0.014
241                 0.010                 0.000                 0.012
242                 0.009                -0.032                 0.011
243                 0.009                -0.082                 0.011
244                 0.008                -0.059                 0.011

     share_of_temperature_change_from_ghg  temperature_change_from_ch4  \
240                                 0.094                          0.0
241                                 0.092                          0.0
242                                 0.090                          0.0
243                                 0.089                          0.0
244                                 0.087                          0.0

     temperature_change_from_co2  temperature_change_from_ghg  \
240                          0.0                        0.001
241                          0.0                        0.001
242                          0.0                        0.001
243                          0.0                        0.001
244                          0.0                        0.001

     temperature_change_from_n2o  total_ghg  total_ghg_excluding_lucf
240                          0.0     13.892                     4.218
241                          0.0     14.178                     4.207
242                          0.0     12.514                     3.853
243                          0.0     11.804                     4.021
244                          0.0     12.282                     4.159

[5 rows x 67 columns]

In [17]:
# Drop countries with fewer than 20 years of CO2 data
valid_countries = df_cleaned.groupby('country')['co2'].count()
valid_countries = valid_countries[valid_countries >= 20].index
df_cleaned = df_cleaned[df_cleaned['country'].isin(valid_countries)]
print(df_cleaned.head())

         country  year iso_code  population           gdp  cement_co2  \
240  Afghanistan  1990      AFG  12045664.0  1.306598e+10       0.046
241  Afghanistan  1991      AFG  12238879.0  1.204736e+10       0.046
242  Afghanistan  1992      AFG  13278982.0  1.267754e+10       0.046
243  Afghanistan  1993      AFG  14943174.0  9.834582e+09       0.047
244  Afghanistan  1994      AFG  16250799.0  7.919857e+09       0.047

     cement_co2_per_capita    co2  co2_growth_abs  co2_growth_prct  ...  \
240                  0.004  2.024          -0.741          -26.784  ...
241                  0.004  1.914          -0.110           -5.435  ...
242                  0.003  1.482          -0.432          -22.580  ...
243                  0.003  1.487           0.005            0.330  ...
244                  0.003  1.454          -0.033           -2.227  ...

     share_global_gas_co2  share_global_luc_co2  share_global_oil_co2  \
240                 0.011                 0.003                 0.014
241                 0.010                 0.000                 0.012
242                 0.009                -0.032                 0.011
243                 0.009                -0.082                 0.011
244                 0.008                -0.059                 0.011

     share_of_temperature_change_from_ghg  temperature_change_from_ch4  \
240                                 0.094                          0.0
241                                 0.092                          0.0
242                                 0.090                          0.0
243                                 0.089                          0.0
244                                 0.087                          0.0

     temperature_change_from_co2  temperature_change_from_ghg  \
240                          0.0                        0.001
241                          0.0                        0.001
242                          0.0                        0.001
243                          0.0                        0.001
244                          0.0                        0.001

     temperature_change_from_n2o  total_ghg  total_ghg_excluding_lucf
240                          0.0     13.892                     4.218
241                          0.0     14.178                     4.207
242                          0.0     12.514                     3.853
243                          0.0     11.804                     4.021
244                          0.0     12.282                     4.159

[5 rows x 67 columns]

In [18]:
# Sort first
df_cleaned = df_cleaned.sort_values(['country', 'year'])

# Use transform instead of groupby+ffill to avoid losing columns
df_cleaned = df_cleaned.groupby('country').transform(lambda x: x.ffill())

# Re-attach 'country' and 'year' from the original df
df_cleaned['country'] = df['country']
df_cleaned['year'] = df['year']

In [19]:
# Create derived features
df_cleaned['co2_per_gdp'] = df_cleaned['co2'] / df_cleaned['gdp']
df_cleaned['co2_change'] = df_cleaned.groupby('country')['co2'].pct_change()

/var/folders/ng/qvt3l7xx5dx_jqf8ks03krb40000gn/T/ipykernel_25156/1115261000.py:3: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_cleaned['co2_change'] = df_cleaned.groupby('country')['co2'].pct_change()

In [20]:
# Final cleaning checks
df_cleaned = df_cleaned.drop_duplicates(subset=['country', 'year'])
df_cleaned['year'] = df_cleaned['year'].astype(int)
df_cleaned = df_cleaned.set_index('country', drop=False)

# Move 'country' and 'iso_code' to the front
cols = ['country', 'iso_code'] + [col for col in df_cleaned.columns if col not in ['country', 'iso_code']]
df_cleaned = df_cleaned[cols]

In [21]:
# Preview cleaned dataset
df_cleaned.info()
df_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7310 entries, Afghanistan to Zimbabwe
Data columns (total 68 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    7310 non-null   object
 1   iso_code                                   7310 non-null   object
 2   year                                       7310 non-null   int64
 3   population                                 7242 non-null   float64
 4   gdp                                        5576 non-null   float64
 5   cement_co2                                 7014 non-null   float64
 6   cement_co2_per_capita                      6980 non-null   float64
 7   co2                                        7293 non-null   float64
 8   co2_growth_abs                             7280 non-null   float64
 9   co2_growth_prct                            7247 non-null   float64
 10  co2_including_luc                          6583 non-null   float64
 11  co2_including_luc_growth_abs               6574 non-null   float64
 12  co2_including_luc_growth_prct              6574 non-null   float64
 13  co2_including_luc_per_capita               6583 non-null   float64
 14  co2_including_luc_per_gdp                  5507 non-null   float64
 15  co2_per_capita                             7229 non-null   float64
 16  co2_per_gdp                                5575 non-null   float64
 17  co2_per_unit_energy                        6830 non-null   float64
 18  coal_co2                                   4900 non-null   float64
 19  coal_co2_per_capita                        4900 non-null   float64
 20  cumulative_cement_co2                      7014 non-null   float64
 21  cumulative_co2                             7293 non-null   float64
 22  cumulative_co2_including_luc               6583 non-null   float64
 23  cumulative_coal_co2                        4900 non-null   float64
 24  cumulative_flaring_co2                     6814 non-null   float64
 25  cumulative_gas_co2                         4233 non-null   float64
 26  cumulative_luc_co2                         6596 non-null   float64
 27  cumulative_oil_co2                         7255 non-null   float64
 28  energy_per_capita                          6846 non-null   float64
 29  flaring_co2                                6814 non-null   float64
 30  flaring_co2_per_capita                     6754 non-null   float64
 31  gas_co2                                    4233 non-null   float64
 32  gas_co2_per_capita                         4233 non-null   float64
 33  ghg_excluding_lucf_per_capita              6630 non-null   float64
 34  ghg_per_capita                             6664 non-null   float64
 35  land_use_change_co2                        6596 non-null   float64
 36  land_use_change_co2_per_capita             6596 non-null   float64
 37  methane                                    6664 non-null   float64
 38  methane_per_capita                         6664 non-null   float64
 39  nitrous_oxide                              6834 non-null   float64
 40  nitrous_oxide_per_capita                   6834 non-null   float64
 41  oil_co2                                    7255 non-null   float64
 42  oil_co2_per_capita                         7221 non-null   float64
 43  primary_energy_consumption                 6880 non-null   float64
 44  share_global_cement_co2                    7014 non-null   float64
 45  share_global_co2                           7293 non-null   float64
 46  share_global_co2_including_luc             6583 non-null   float64
 47  share_global_coal_co2                      4900 non-null   float64
 48  share_global_cumulative_cement_co2         7014 non-null   float64
 49  share_global_cumulative_co2                7293 non-null   float64
 50  share_global_cumulative_co2_including_luc  6583 non-null   float64
 51  share_global_cumulative_coal_co2           4900 non-null   float64
 52  share_global_cumulative_flaring_co2        6814 non-null   float64
 53  share_global_cumulative_gas_co2            4233 non-null   float64
 54  share_global_cumulative_luc_co2            6596 non-null   float64
 55  share_global_cumulative_oil_co2            7255 non-null   float64
 56  share_global_flaring_co2                   6814 non-null   float64
 57  share_global_gas_co2                       4233 non-null   float64
 58  share_global_luc_co2                       6596 non-null   float64
 59  share_global_oil_co2                       7255 non-null   float64
 60  share_of_temperature_change_from_ghg       7310 non-null   float64
 61  temperature_change_from_ch4                6834 non-null   float64
 62  temperature_change_from_co2                7310 non-null   float64
 63  temperature_change_from_ghg                7310 non-null   float64
 64  temperature_change_from_n2o                6834 non-null   float64
 65  total_ghg                                  6664 non-null   float64
 66  total_ghg_excluding_lucf                   6630 non-null   float64
 67  co2_change                                 7031 non-null   float64
dtypes: float64(65), int64(1), object(2)
memory usage: 3.8+ MB

,country,iso_code,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,co2_change
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Afghanistan,AFG,1990,12045664.0,1.306598e+10,0.046,0.004,2.024,-0.741,-26.784,...,0.003,0.014,0.094,0.0,0.0,0.001,0.0,13.892,4.218,NaN
Afghanistan,Afghanistan,AFG,1991,12238879.0,1.204736e+10,0.046,0.004,1.914,-0.110,-5.435,...,0.000,0.012,0.092,0.0,0.0,0.001,0.0,14.178,4.207,-0.054348
Afghanistan,Afghanistan,AFG,1992,13278982.0,1.267754e+10,0.046,0.003,1.482,-0.432,-22.580,...,-0.032,0.011,0.090,0.0,0.0,0.001,0.0,12.514,3.853,-0.225705
Afghanistan,Afghanistan,AFG,1993,14943174.0,9.834582e+09,0.047,0.003,1.487,0.005,0.330,...,-0.082,0.011,0.089,0.0,0.0,0.001,0.0,11.804,4.021,0.003374
Afghanistan,Afghanistan,AFG,1994,16250799.0,7.919857e+09,0.047,0.003,1.454,-0.033,-2.227,...,-0.059,0.011,0.087,0.0,0.0,0.001,0.0,12.282,4.159,-0.022192

In [22]:
df_cleaned.to_csv("/Users/rasheedmehrinfar/Desktop/springboard/capstone-two/Data/cleaned_co2_data.csv", index=False)

- This notebook reflects the wrangling steps specific to the CO2 emissions forecasting and correlation analysis project.
- It protects key variables (`'country'`, `'year'`, `'co2'`, `'gdp'`) throughout and creates derived metrics for modeling and policy analysis.